<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Projeto Semestre{% endblock %}</title> {% load static%}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    {% comment %} Ícone de Menu da navbar {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>
<body>

        {% comment %}
        <img class="logo" src="{% static 'img/logo.png' %}" alt="">
        <div class="btnacesso">
            <a class="btn" href="{% url 'homepage'%}">Home</a>
            <a class="btn" href="{% url 'produto_list'%}">Produtos</a>
            <a class="btn" href="{% url 'categoria_list'%}">Categoria</a>
            <a class="btn" href="{% url 'movimentacao_list'%}">Movimentação</a>
            <a class="btn" href="{% url 'profile' %}">Perfil</a>
            <form action="{% url "logout" %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btnv">Sair</button>
            </form>
        </div>
        {% endcomment %}

        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars" ></i>
            </label>


            <div class="logo-container">
                <img class="logo" src="{% static 'img/logo-removebg-preview.png' %}" alt="logo">
            </div>
            <ul>
                <li><a href="{% url 'homepage'%}">Home</a></li>
                <li><a href="{% url 'produto_list'%}">Produtos</a></li>
                <li><a href="{% url 'categoria_list'%}">Categorias</a></li>
                <li><a href="{% url 'movimentacao_list'%}">Movimentação</a></li>
                <li><a href="{% url 'profile' %}">Perfil</a></li>
                <li><form action="{% url "logout" %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btnv" id="btn-logout">Sair</button>
                </form></li>
            </ul>
        </nav>
    {% comment %} Espaço do fechamento header, lembrar de abrir la em cima se for por de volta{% endcomment %}
    <div class="container">
    {% block content %} {% endblock %}
    </div>
    <footer></footer>
</body>
</html>